/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* base styles */
body{
    font-family: 'Roboto', sans-serif;
background-color: rgb(242, 250, 252);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: white;
    width: 846px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.section-tytle{
color: rgb(2, 2, 231);
font-size: 24px;
margin-top: 3px;
}

hr{
    border: 1px solid rgb(221, 220, 220);
    margin-bottom: 30px;
}

/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

/*-----------------------
---- top-blog-styles ----
----------------------- */
.blogs{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-row-gap: 26px;
}

.blog .thumnail img{
    width: 177px;
    height: 117px;
}

.blog{
    display: flex;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
}

.blog-author{
    font-size: 16px;
    color: rgb(186, 187, 188);
}

.blog-author a{
    text-decoration: none;
    color: rgb(19, 19, 251);
}

/*-----------------
  courses-styles 
------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgb(238, 239, 239);
    border-radius: 15px;
    padding: 15px;
}
.course .course-banner img{
width: 224px;
height: 104px;
}

.course-author{
    font-size: 16px;
    color: rgb(225, 3, 3);
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-rating{
    color: gold;
    font-size: 15px;
}
.rating{
    color: rgb(189, 188, 188);
}
.course-duration{
    background-color: rgb(251, 204, 204);
    padding: 4px;
    font-size: 15px;
    border-radius: 7px;
    color: rgb(254, 49, 49);
}

